* {
  font-family: Roboto;
}

.fas.fa-heart {
  color: red;
}

.fa-spin {
  font-size: 100px;
}

.fa-heart {
  transition: all 250ms ease-in-out;
  margin-left: 40px;
  cursor: pointer;
  font-size: 40px;
}

a {
  color: black !important;
}

.fa-facebook-square {
  font-size: 25px;
  margin-left: 5px;
  color: #3b5998;
}
